.flex_wrap {
    display: flex;
    flex-direction: row;
}

.flex_wrap_inner {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.json_text_area {
    width: 500px;
    height: 400px;
    white-space: pre;
    font-family: monospace;
}

#api_list li {
    cursor: pointer;
}